@import "../../../../styles/variables.scss";

.kanban-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 25px;

  svg {
    width: 28px;
    height: 28px;
    margin-top: 3px;
    margin-left: -2px;
  }

  span {
    font-weight: 700;
    font-size: 32px;
  }
}

.dark-theme {
  .kanban-logo {
    svg {
      path {
        fill: $dirty-purple;
      }
    }

    span {
      color: $snow-white;
    }
  }
}
