@import "../../../../styles/variables.scss";

.kanban-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 25px;

  svg {
    width: 28px;
    height: 28px;
    margin-top: 3px;
    margin-left: -2px;

    path {
      fill: $dirty-purple;
    }
  }

  span {
    font-weight: 700;
    font-size: 32px;
  }
}

.dark-theme {
  .kanban-logo {
    span {
      color: $snow-white;
    }
  }
}

.light-theme {
  .kanban-logo {
    span {
      color: $dark-gray;
    }
  }
}
