.add-task-popup {
  .form-item {
    .subtask-item {
      margin-bottom: 20px;
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .kanban-error {
        top: 36px;
      }
    }
  }
}
