@import "../../../../styles/variables.scss";

.kanban-popup.create-board-popup {
  .board-column {
    width: 100%;
    border-radius: 4px;
    border: 1px solid;
    padding: 10px;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    cursor: grab;

    svg:last-child {
      margin-left: auto;
      cursor: pointer;
    }
  }

  .form-item {
    &__multi-buttons {
      margin-top: 15px;
    }
  }

  .save-button {
    margin-top: 10px;
  }

  .add-column-button {
    margin-top: 20px;
  }

  &.dark-theme {
    .board-column {
      background-color: $dark-gray;
      border-color: $border-gray;
      color: $snow-white;

      svg:last-child {
        &:hover {
          path {
            fill: $clean-purple;
          }
        }
      }
    }
  }

  &.light-theme {
    .board-column {
      background-color: $all-white;
      border-color: $shy-border-gray;
      color: $dark-gray;

      svg:last-child {
        &:hover {
          path {
            fill: $clean-purple;
          }
        }
      }
    }
  }
}
