@import "../../styles/variables.scss";

.kanban-error {
  position: absolute;
  display: flex;
  gap: 5px;

  align-items: center;
  padding: 2px 0;

  svg {
    path {
      fill: $honest-error;
    }
  }

  &__message {
    color: $honest-error;
    font-size: 11px;
  }
}
