@import "../../../../styles/variables.scss";

.kanban-task {
  padding: 20px;
  border-radius: 8px;

  &__title {
    font-weight: 600;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__subtasks {
    font-size: 12px;
    margin-top: 5px;
    font-weight: 600;
  }
}

.dark-theme {
  .kanban-task {
    background-color: $dark-gray;
    -webkit-box-shadow: 1px 5px 5px 0px $dark-shadow-gray;
    -moz-box-shadow: 1px 5px 5px 0px $dark-shadow-gray;
    box-shadow: 1px 5px 5px 0px $dark-shadow-gray;

    &__title {
      color: $snow-white;
    }

    &__subtasks {
      color: $light-gray;
    }
  }
}

.light-theme {
  .kanban-task {
    background-color: $all-white;
    -webkit-box-shadow: 1px 5px 5px 0px $shy-border-gray;
    -moz-box-shadow: 1px 5px 5px 0px $shy-border-gray;
    box-shadow: 1px 5px 5px 0px $shy-border-gray;

    &__title {
      color: $dark-gray;
    }

    &__subtasks {
      color: $light-gray;
    }
  }
}
