$dark-gray: #2c2c38;
$deep-dark-gray: #21212d;
$dark-shadow-gray: #232733;
$border-gray: #3f3f4b;
$snow-white: #fafbff;
$dirty-white: #e6e8ff;
$light-gray: #7b818f;
$clean-purple: #605bab;
$dirty-purple: #524ba9;
$honest-error: #c85f5f;
