@import "../../../../styles/variables.scss";

.kanban-menu {
  &__summary {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.8px;
    padding-left: 25px;
  }

  &__list {
    list-style: none;
    padding: 0;

    .menu-item {
      font-weight: 500;
      font-size: 16px;
      padding: 10px 10px 10px 25px;
      cursor: pointer;
      border-radius: 0 30px 30px 0;

      span {
        margin-left: 10px;
      }

      &.add-board {
        color: $clean-purple;

        svg {
          path {
            fill: $clean-purple;
          }
        }

        &:hover {
          color: $dirty-purple;

          svg {
            path {
              fill: $dirty-purple;
            }
          }
        }
      }
    }
  }
}

.dark-theme {
  .kanban-menu {
    color: $light-gray;

    .menu-item {
      svg: {
        path: {
          fill: $light-gray;
        }
      }

      &.active {
        background-color: $clean-purple;
        color: $dirty-white;

        svg {
          path {
            fill: $dirty-white;
          }
        }
      }

      &:hover {
        color: $dirty-white;

        svg {
          path {
            fill: $dirty-white;
          }
        }
      }
    }
  }
}

.light-theme {
  .kanban-menu {
    color: $dark-gray;

    .menu-item {
      svg: {
        path: {
          fill: $dark-gray;
        }
      }

      &.active {
        background-color: $clean-purple;
        color: $all-white;

        svg {
          path {
            fill: $all-white;
          }
        }
      }

      &:hover:not(.active) {
        color: $clean-purple;

        svg {
          path {
            fill: $clean-purple;
          }
        }
      }
    }
  }
}
