@import "../../styles/variables.scss";

.vertical-menu {
  height: 100%;
  border-right: 1px solid;
  padding: 20px 25px 25px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .kanban-logo {
    margin-left: 25px;
  }

  .kanban-toggle-switch {
    margin-top: 0;
  }

  .kanban-toggle-sidebar {
    margin-top: auto;
    margin-bottom: -15px;
  }
}

.dark-theme {
  .vertical-menu {
    background-color: $dark-gray;
    border-color: $border-gray;
  }
}

.light-theme {
  .vertical-menu {
    background-color: $all-white;
    border-color: $shy-border-gray;
  }
}
