@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.top-bar {
  border-bottom: 1px solid;
  display: flex;
  gap: 25px;
  align-items: center;
  padding: 25px;
  height: 90px;

  &__name {
    font-size: 24px;
    font-weight: 700;
  }

  &__add-button {
    margin-left: auto;
  }

  svg {
    cursor: pointer;
  }

  .kanban-toggle-sidebar {
    margin-left: 0;
  }

  .kanban-logo {
    margin-right: -15px;
  }
}

.dark-theme {
  .top-bar {
    background-color: $dark-gray;
    border-color: $border-gray;

    &__name {
      color: $snow-white;
    }

    .ellipses-icon {
      path {
        fill: $light-gray;
      }
    }
  }
}

.light-theme {
  .top-bar {
    background-color: $all-white;
    border-color: $shy-border-gray;

    &__name {
      color: $dark-gray;
    }

    .ellipses-icon {
      path {
        fill: $dark-gray;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .top-bar {
    height: 80px;
    padding: 20px;
    gap: 15px;

    &__name {
      @include text-ellipses();
    }

    &__arrow-icon {
      path {
        fill: $clean-purple;
      }
    }

    &__mobile-menu {
      position: absolute;
      left: 0;
      top: 80px;
      width: 100%;
      height: calc(100% - 80px);
      background-color: $transparent-black;

      .vertical-menu {
        max-width: 280px;

        .kanban-toggle-sidebar {
          margin-left: 25px;
        }
      }
    }

    .kanban-logo {
      margin-right: -5px;
      display: inline-block;

      svg {
        width: 22px;
        height: 22px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .top-bar {
    &__name {
      font-size: 20px;
    }

    &__add-button {
      span {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .top-bar {
  }
}
