@import "../../styles/variables.scss";

.top-bar {
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  padding: 25px;
  height: 90px;

  &__name {
    font-size: 24px;
    font-weight: 700;
  }

  &__add-button {
    margin-right: 20px;
  }

  svg {
    cursor: pointer;
  }
}

.dark-theme {
  .top-bar {
    background-color: $dark-gray;
    border-color: $border-gray;

    &__name {
      color: $snow-white;
    }

    .ellipses-icon {
      path {
        fill: $light-gray;
      }
    }
  }
}
