@import "./styles/variables.scss";

.kanban-container {
  width: 100vw;
  height: 100vh;
}

.kanban-app {
  height: 100vh;
  width: 100vw;
  display: flex;

  &__item {
    display: flex;
    flex-direction: column;

    &.menu {
      min-width: 280px;
    }

    &.board {
      width: calc(100vw - 280px);
    }
  }
}

.kanban-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  padding: 12px 20px;
  margin-left: auto;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  border-radius: 20px;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  &.button-100 {
    width: 100%;
  }

  &.button-50 {
    width: 50%;
  }

  &.button-left {
    border-radius: 20px 0 0 20px;
  }

  &.button-right {
    border-radius: 0 20px 20px 0;
  }

  &.button-primary {
    background: $clean-purple;
    color: $all-white;

    &:hover:not(:disabled),
    &:focus {
      background: $dirty-purple;
    }

    &:disabled {
      opacity: 0.3;
      cursor: default;
    }
  }
}

.kanban-popup {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .times-icon {
    cursor: pointer;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__description {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.6;
  }

  .form-item {
    &__label {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    &__multi-inputs {
      display: flex;
      position: relative;

      .input-left {
        input {
          border-radius: 4px 0 0 4px;
          border-right: 0;
        }
      }

      .input-right {
        input {
          border-radius: 0 4px 4px 0;
          border-left: 0;
        }
      }
    }

    &__multi-buttons {
      display: inline-flex;
      width: 100%;
    }

    &__textbox {
      flex: 1;

      textarea,
      input {
        width: 100%;
        border-radius: 4px;
        border: 1px solid;
        padding: 10px;
        font-weight: 500;
        outline: none;

        &::placeholder {
          opacity: 0.4;
        }
      }

      textarea {
        height: 100px;
        resize: none;
      }
    }

    &__colorbox {
      width: 38px;

      input {
        width: 100%;
        border: 1px solid;
        height: 100%;
        cursor: pointer;
        border-radius: 4px;
        overflow: hidden;

        &::-webkit-color-swatch {
          border: none;
          border-radius: 50%;
          padding: 0;
        }

        &::-webkit-color-swatch-wrapper {
          border: none;
          border-radius: 50%;
          padding: 5px;
        }
      }
    }

    &__checkbox {
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &-box {
        width: 16px;
        height: 16px;
        min-width: 16px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-name {
        font-weight: 700;
        font-size: 13px;
      }

      &.checked {
        .form-item__checkbox-name {
          text-decoration: line-through;
        }
      }

      &.unchecked {
        .form-item__checkbox-box {
          border: 1px solid;
        }
      }
    }

    &__selectbox {
      position: relative;

      select {
        width: 100%;
        border-radius: 2px;
        padding: 10px;
        font-weight: 600;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        option {
          padding: 10px;
        }
      }

      &::after {
        content: "\01F893";
        position: absolute;
        top: 20%;
        right: 10px;
        bottom: 0;
        font-size: 28px;
        pointer-events: none;
      }
    }
  }
}

// Scroll bar

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $border-gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $dark-gray;
}

.dark-theme {
  &.kanban-container,
  &.kanban-app {
    background-color: $deep-dark-gray;
  }

  &.kanban-popup {
    .times-icon {
      path {
        fill: $all-white;
      }

      &:hover {
        path {
          fill: $dirty-white;
        }
      }
    }

    .kanban-popup__title {
      color: $all-white;
    }

    .kanban-popup__description {
      color: $light-gray;
    }

    .form-item {
      &__label {
        color: $snow-white;
      }

      .input-invalid {
        input {
          border-color: $honest-error;
        }
      }

      &__colorbox,
      &__textbox {
        textarea,
        input {
          background-color: $dark-gray;
          border-color: $border-gray;
          color: $snow-white;

          &::placeholder {
            color: $snow-white;
          }
        }
      }

      &__checkbox {
        background-color: $deep-dark-gray;

        &.checked {
          .form-item__checkbox-box {
            background-color: $clean-purple;

            svg {
              path: {
                fill: $snow-white;
              }
            }
          }

          .form-item__checkbox-name {
            color: $light-gray;
          }
        }

        &.unchecked {
          .form-item__checkbox-box {
            background-color: $dark-gray;
            border-color: $border-gray;
          }

          .form-item__checkbox-name {
            color: $snow-white;
          }
        }
      }

      &__selectbox {
        select {
          background-color: $dark-gray;
          border-color: $border-gray;
          color: $snow-white;
        }

        &::after {
          color: $clean-purple;
        }
      }
    }
  }

  .kanban-button {
    &.button-default {
      background: $all-white;
      color: $clean-purple;

      &:hover,
      &:focus {
        background: $decent-gray;
      }
    }
  }
}

.light-theme {
  &.kanban-container,
  &.kanban-app {
    background-color: $all-white;
  }

  .times-icon {
    path {
      fill: $dark-gray;
    }

    &:hover {
      path {
        fill: $deep-dark-gray;
      }
    }
  }

  &.kanban-popup {
    .kanban-popup__title {
      color: $dark-gray;
    }

    .kanban-popup__description {
      color: $light-gray;
    }

    .form-item {
      &__label {
        color: $dark-gray;
      }

      .input-invalid {
        input {
          border-color: $honest-error;
        }
      }

      &__colorbox,
      &__textbox {
        textarea,
        input {
          background-color: $all-white;
          border-color: $shy-border-gray;
          color: $dark-gray;

          &::placeholder {
            color: $dark-gray;
          }
        }
      }

      &__checkbox {
        background-color: $soft-gray;

        &.checked {
          .form-item__checkbox-box {
            background-color: $clean-purple;

            svg {
              path: {
                fill: $all-white;
              }
            }
          }

          .form-item__checkbox-name {
            color: $light-gray;
          }
        }

        &.unchecked {
          .form-item__checkbox-box {
            background-color: $all-white;
            border-color: $shy-border-gray;
          }

          .form-item__checkbox-name {
            color: $dark-gray;
          }
        }
      }

      &__selectbox {
        select {
          background-color: $all-white;
          border-color: $shy-border-gray;
          color: $dark-gray;
        }

        &::after {
          color: $clean-purple;
        }
      }
    }
  }

  .kanban-button {
    &.button-default {
      background: $dark-gray;
      color: $all-white;

      &:hover,
      &:focus {
        background: $deep-dark-gray;
      }
    }
  }
}
